# XMake
.xmake/
build/
bin/
compile_commands.json
.cache/

# Diagnostics and Traces
/diagnostics/

# Temporary Assets (Generated)
extracted/
converted/
tmp/

# Compiled Object files
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib

# Executables
linux-wallpaperengine

# IDEs and Editors
.vscode/
.vs/
*.swp
*.swo
*~
.idea/
.DS_Store

# Logs & Local Config
*.log
config.json
